<div class="d-flex justify-content-center mt-5 ">
  <form [formGroup]="form" class="d-flex flex-wrap justify-content-around" (ngSubmit)="save()">
    <h2 class="col-8 border-bottom" style="font-weight: bold">使用者資料設定</h2>
    <mat-form-field appearance="outline" class="col-8">
      <mat-label>姓名</mat-label>
      <input matInput type="text" formControlName="UserName" placeholder="請輸入姓名">
      <mat-icon matSuffix>person</mat-icon>
      <mat-error *ngIf="form.controls['UserName']?.errors?.['required']">
        此欄位必填
      </mat-error>
      <mat-error *ngIf="form.controls['UserName']?.errors?.['maxlength']">
        欄位長度必須小於20
      </mat-error>
    </mat-form-field>
    <mat-form-field appearance="outline" class="col-8">
      <mat-label>電子信箱</mat-label>
      <input matInput type="email" formControlName="Email" placeholder="請輸入地址">
      <mat-icon matSuffix>email</mat-icon>
      <mat-error *ngIf="form.controls['Email']?.errors?.['required']">
        此欄位必填
      </mat-error>
      <mat-error *ngIf="form.controls['Email']?.errors?.['email']">
        Email格式錯誤
      </mat-error>
    </mat-form-field>
    <mat-form-field appearance="outline" class="col-8">
      <mat-label>地址</mat-label>
      <input matInput type="text" placeholder="請輸入地址" formControlName="Address">
      <mat-icon matSuffix>home</mat-icon>
    </mat-form-field>
    <mat-form-field appearance="outline" class="col-8">
      <mat-label>生日</mat-label>
      <input matInput [matDatepicker]="picker" formControlName="Birthday" placeholder="請輸入地址">
      <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
      <mat-datepicker #picker></mat-datepicker>
      <mat-error *ngIf="form.controls['Birthday']?.errors?.['required']">
        此欄位必填
      </mat-error>
    </mat-form-field>
    <div class="col-8 d-flex justify-content-end">
      <button mat-raised-button type="button" class="m-2" (click)="reset()">重設</button>
      <button mat-raised-button type="submit" color="primary" class="m-2">保存</button>
    </div>
  </form>
</div>
