/backend/Charlotte/.vs
/backend/Charlotte/Charlotte/bin
/backend/Charlotte/Charlotte/obj
/backend/Charlotte/Charlotte.Database/bin
/backend/Charlotte/Charlotte.Database/obj
/backend/Charlotte/Charlotte.Services/bin
/backend/Charlotte/Charlotte.Services/obj
*.css
*.map