<div class="container-fluid d-flex align-content-center">
  <div
    class="d-flex justify-content-center flex-wrap mt-5 mx-auto"
    style="max-width: 300px"
  >
    <img
      src="../../assets/logo.png"
      alt="logo"
      class="img-fluid"
      style="max-width: 100px"
    />
    <h1 class="fs-1 mt-5">Charlotte</h1>
    <form
      [formGroup]="form"
      (ngSubmit)="login()"
      class="border d-flex flex-wrap justify-content-center bg-secondary"
      style="border-radius: 25px"
    >
      <h2 class="mt-3 font-weight-bold text-light" style="font-weight: bold">
        後台登入
      </h2>
      <mat-form-field appearance="outline" class="col-10">
        <mat-label><mat-icon matSuffix>person</mat-icon>帳號</mat-label>
        <input matInput placeholder="請輸入帳號" formControlName="account" />
        <mat-error
          *ngIf="form.controls['account'].errors?.['required']  && form.controls['account'].touched"
        >
          此欄位必填
        </mat-error>
      </mat-form-field>
      <mat-form-field appearance="outline" class="col-10">
        <mat-label><mat-icon matSuffix>lock</mat-icon>密碼</mat-label>
        <input
          type="password"
          matInput
          placeholder="請輸入密碼"
          formControlName="password"
        />
        <mat-error
          *ngIf="form.controls['password'].errors?.['required'] && form.controls['password'].touched"
        >
          此欄位必填
        </mat-error>
      </mat-form-field>
      <button mat-raised-button color="primary" class="mx-auto d-block mb-2">
        登入
      </button>
    </form>
  </div>
</div>
