.dialog-container{
  width: 50vw;
}
@media (max-width: 960px) {
  .dialog-container{
    width: 60vw;
  }
}
.file-container{
  border: 4px dotted rgb(68, 1, 87);
  .file{
    opacity: 0;
    padding: 5rem;
    width: 100%;
    height: 100%;
  }
  .file-icon{
    font-size: 2.5rem
  }
  :hover{
    cursor: pointer;
  }
}
.font-weight-bold{
  font-weight: bold;
}
.preview-img{
  max-height: 300px;
}
