<h2 mat-dialog-title class="font-weight-bold">title</h2>
<div class="dialog-container">
  <form [formGroup]="form" (ngSubmit)="submit()">
    <div class="d-flex">
      <img [src]="url" alt="預覽圖片" class="col-5 mx-auto" *ngIf="url != ''">
    </div>
    <input type="file" (change)="preview($event)" class="d-none" #upload accept="image/*" formControlName="productImg">
    <button type="button" (click)="upload.click()" mat-stroked-button color="primary" class="d-block" >選取圖片</button>
    <button type="submit" mat-raised-button class="d-block" color="primary">選取圖片</button>
  </form>
</div>
